# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Database (MongoDB)
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/danketsu-app?retryWrites=true&w=majority

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000
